<div id="separador">
        
</div>  

<div class="row" id="educacion">
  <h1 class="alineado">Educación</h1>
  <div class="col-lg-1"></div>
  <div id="textoexplab" class="col-lg-offset-1 col-lg-11 ">
  <ul>
    <li><h1 class="alineado">Trabajo 1</h1> - <h3 class="alineado">Años</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam fugit eaque mollitia dolor nesciunt perspiciatis 
      alias expedita repellendus cum, harum iure in quidem, 
      commodi aliquam incidunt debitis placeat possimus porro!</p>
  </ul>
  <ul>
    <li><h1 class="alineado">Trabajo 2</h1> - <h3 class="alineado">Años</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam fugit eaque mollitia dolor nesciunt perspiciatis 
      alias expedita repellendus cum, harum iure in quidem, 
      commodi aliquam incidunt debitis placeat possimus porro!</p>
  </ul>
  <ul>
    <li><h1 class="alineado">Trabajo 3</h1> - <h3 class="alineado">Años</h3></li>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Quibusdam fugit eaque mollitia dolor nesciunt perspiciatis 
      alias expedita repellendus cum, harum iure in quidem, 
      commodi aliquam incidunt debitis placeat possimus porro!</p>
  </ul>
</div>
