<div id="separador">
        
</div>  



<div class="row d-flex justify-content-center mt-80 " id="hardAndSoft">

    <h1>Hard & Soft Skills</h1>

    <div class="col-md-12">

          

        <div class="progress blue">
          <span class="progress-left">
                            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                            <span class="progress-bar"></span>
          </span>
          <div class="progress-value"> <fa-icon [icon]="faAngular"></fa-icon> 90%</div>
        </div>

        
          <div class="progress yellow">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"> <fa-icon [icon]="faGithub"></fa-icon> 37.5%</div>
          </div>
        
          <div class="progress blue">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faCss3"></fa-icon> 37.5%</div>
          </div>

          <div class="progress yellow">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faJs"></fa-icon> 37.5%</div>
          </div>

          <div class="progress blue">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faJava"></fa-icon> 37.5%</div>
          </div>

          <div class="progress yellow">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><fa-icon [icon]="faHtml5"></fa-icon> 37.5%</div>
          </div>



       
    </div>
   
</div>
