<div class="row" id="divAcercaDeMi">
       
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="..//..//../assets/fotoperfil.jpg" alt="" class="img-fluid" id="fotoDePerfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 fotoDePerfil">
        <p id="nombre">Vanina Melisa Heredia</p>
        <p >Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
      <span>
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor, sit amet consectetur 
          adipisicing elit. 
        Optio veritatis ipsum itaque corrupti sapiente 
        dolore alias distinctio, 
        unde nisi, tempore fugiat? Saepe, deserunt voluptatibus. 
        Obcaecati dicta inventore culpa eaque doloribus!</p>
      </span>
    </div>



  </div>
