.row{
    padding: 20px;
}



p{
    color: rgb(4,18,39);
}

div{
    text-align: center;
}

#acercaDeMi{
    padding: 20px;
    padding-left: 30px;
    /*background-color: #0c5581;*/
    background-color: #dab2c4;
    text-align: center;
}
/*etiqueta nombre*/
.divNombre{
    margin-left: 50px;
}

#nombre{
    font-weight: bold;
    margin-top: 10%;    
    margin-bottom: 1px;
}

@media(min-width:576px){
    #fotoDePerfil{
        position: absolute;
        width: 18%;
        border-radius: 100%;
        border-color: antiquewhite;
        box-shadow: 3px 3px 3px whitesmoke;
        left: 1%;
        top: 450px;
    }
}

@media(max-width:575px){
    #fotoDePerfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        border-color: antiquewhite;
        box-shadow: 3px 3px 3px whitesmoke;
        left: 37%;
        top: 230px;
    }

    #divAcercaDeMi{
        margin-top:150px;
    }

  
}

